<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>4t8ho1j6n7</string>
	<key>NMFClientSecret</key>
	<string>9BGqHKJ9gIIyAky3fDeAfD4NAWpbEkX8bGdL0teP</string>
</dict>
</plist>
